*{
    margin: 0;
    font-family: "Century Gothic";
}

body{
    background-color: rgb(54, 190, 235, 0.3);
}

/*Título*/

h1{
    background-color: rgb(54, 190, 235);
    color: white;
    padding: 2%;
}


/*Texto*/

p{
    padding:4%;
}


/*Lista de páginas*/

li{
    margin: 2%;
    margin-left: 20px;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color:white;
}

/*Rodapé*/

footer{
    background-color: rgb(54, 190, 235);
    color: white;
    font-size: small;
    padding: 1%;
    display: flex;
    align-items: flex-end;
    right: 10px;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:black;
}