*{
    margin: 0;
    font-family: "Century Gothic";
    background-color: black;
    color: white;
    align-items: center;
}

/*Título*/

h1{
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Thumbs*/

.container{
    margin: 20px;
    padding: 2px;
    min-height: 79vh;
    display: flex;
    flex-direction: column;
    
}

.container p{
    margin: 20px;
}


/*Rodapé*/

footer{
    font-size: small;
    padding: 1%;
    margin-top: 20px;
    display: absolute;
    right: 10px;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:gold;
}