*{
    margin: 0;
    font-family: "Century Gothic";
}


/*Título*/

h1 {
    background-color: rgb(54, 190, 235);
    color: white;
    padding: 2%;
    text-align: center;
}

h2{
    background-color: rgba(54, 190, 235, 0.5);
    color: white;
    padding: 1%;
}



/*Lista de tags*/

li{
    margin: 2%;
    margin-left: 20px;
}



/*Rodapé*/

footer{
    background-color: rgb(54, 190, 235);
    color: white;
    font-size: small;
    padding: 1%;
    text-align: initial;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:black;
}