*{
    margin: 0;
    font-family: "Century Gothic";
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgb(54, 190, 235, 0.3);
}


/*Título*/

h1{
    background-color: rgb(54, 190, 235);
    color: white;
    padding: 2%;
}


/*Conteúdo*/

.container{
    position:relative;
}

p{
    padding:4%;
}

/*Lista de páginas*/

li{
    margin: 2%;
    margin-left: 20px;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color:white;
}

/*Rodapé*/

footer{
    background-color: rgb(54, 190, 235);
    color: white;
    font-size: small;
    padding: 1%;
    position: absolute;
    bottom:0;
    width:98%;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:black;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:black;
}

