@charset "UTF-8";

/*  
    A representação dos seletores no CSS é diferente do HTML.
    HTML    CSS
    id       #   (só pode um elemento)
    class    .   (pode vários elementos)
*/

body{
    background-color: rgb(186, 228, 186);
    font-family: Arial, Helvetica, sans-serif;
}

/* h1 genérico */
h1{
    color: #1e402f;
}

/* h1 com seletor personalizado (identificador) */
h1#principal{
    text-align: center;
    background-color: #3c805e;
    color: white;
}

/*  
OBSERVAÇÃO:
    Para o CSS localizar o id no HTML bota-se a #
    O id será localizado com ou sem o elemento, mas se colocar o elemento, será mais específico e claro
    Ex: h1#principal ou #principal 
*/

h2{
    color:#3c805e;
}

.basico{
    color:#3c805e;
}

.intermediario{
    color:#80793c;
}

.avancado{
    color:#803c3c;
}

.destaque{
    background-color: #c5c56070;
}