*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(90deg, rgba(187,245,255,1) 0%, rgba(9,156,244,1) 100%);
    font: normal 15pt Arial;
}

header{
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    color:white;
}

header img {
    max-width: 200px;
}

h1 {
    text-align: center;
}

.btn {
    
    background-color: #2727FF;
    border-style: none;
    padding: 7px;
    border-radius: 10px;
}

.btn, 
.btn a {
    text-decoration: none;
    color:#ffffff;
}

.btn:hover{
    background-color: #000080;
}

.btn:active{
    background-color: #2727FF;
}

.btn-curso {
  width: 100px;
  float: right;
}

.btn-final {
    position: relative;
    margin-left: 155px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 430px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

#item {
    margin: 10px;
}

#lista {
    width: 150px;
    margin: 10px 0;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin: 15px;
}