body{
    background: rgb(70,142,236);
    font: normal 15pt Arial;
}

header{
    color:#ffffff;
    text-align: center;

}

section {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

#mensagem, 
#imagem {
    text-align: center;
    padding: 5px;
}


footer{
    color: #ffffff;
    text-align: center;
}