@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');

/* Formulário */

section {
    width: 100%;
    padding: 15px;
}

form {
    width: 40%;
    margin: auto;
}

fieldset {
    border-color: var(--other);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

legend {
    color: var(--effect);
    font: bold 13pt 'Titillium Web', sans-serif;
}

label {
    display: block;
    padding: 8px;
    font: normal 13pt 'Roboto', sans-serif;
}

input, textarea {
    font: normal 13pt 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, .8);
}

