#sectionMedia {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
}

.tv-radio img {
    width: 100%;
    margin: 10px auto;
}

@media (min-width: 1000px){
    #musica{
        display: block;
        position: absolute;
        width: 300px;
        left: 880px;
        bottom: -165px;
    }
    
    #filme {
        display: block;
        position: absolute;
        width: 470px;
        left:380px;
        bottom: 0px;
    
    }
}