#sectionMedia {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

.tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url('../imagens/radio-tv.png') no-repeat;
}

#musica{
    display: block;
    position: absolute;
    width: 300px;
    left: 880px;
    bottom: -165px;
}

#filme {
    display: block;
    position: absolute;
    width: 470px;
    left:380px;
    bottom: 0px;

}