#sectionSpecs {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 15px;
}

#bodyGlass {
  background-color: #ffffff;
  height: 50%;
  width: 40%;
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.specsImg {
  width: 50%;
}

#specsImg {
  width: 100%;
}

.iframe {
  width: 50%;
}
#iframe {
  width: 100%;
  height: 40%;
  position: absolute;
  border: none;
  overflow: hidden;
}

.articleGlass {
  margin-bottom: 800px;
}

.titleGlass {
  font-size: 15pt;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.subtitleGlass {
  font-size: 13pt;
  color: var(--effect);
  background-color: transparent;
}

#iframe::-webkit-scrollbar {
  display: none;
}
