#sectionSpecs {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

#bodyGlass {
  background-color: #ffffff;  
}

#specsImg {
    width: 60%;
}

.articleGlass {
    width: 100%;
    padding: 10px;
    margin-bottom: 800px;
}

.titleGlass {
    font-size: 15pt;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .3);
    padding: 5px;
}

.subtitleGlass {
    font-size: 13pt;
    color: #888888;
    background-color: transparent;
}

#iframe {
    width: 450px;
    height: 280px;
    position: absolute;
    border: none;
    overflow: hidden;
}


#iframe::-webkit-scrollbar {
    display: none;
}