*{
    margin: 0;
    font-family: "Century Gothic";
}


/*Título*/

h1{
    background-color: rgb(54, 190, 235);
    color: white;
    padding: 2%;
}


/*Texto*/

p{
    padding:2%;
}


/*Lista de tags*/

li{
    margin: 2%;
    margin-left: 20px;
}



/*Rodapé*/

footer{
    background-color: rgb(54, 190, 235);
    color: white;
    font-size: small;
    padding: 1%;
    display: flex;
    align-items: flex-end;
    right: 10px;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:black;
}