*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg, rgba(231,236,236,1) 0%, rgba(123,77,247,1) 100%);
    font: normal 15pt Arial;
}

header{
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    color:white;
}

header img {
    max-width: 200px;
}

h1 {
    text-align: center;
}

.btn {
    width: 100px;
    background-color: #2727FF;
    border-style: none;
    padding: 7px;
    border-radius: 10px;

    font: normal 11pt 'Century Gothic';
}

.btn, .btn a {
    text-decoration: none;
    color:#ffffff;
}

.btn:hover{
    background-color: #000080;
}

.btn:active{
    background-color: #2727FF;
}

.btn-curso{
    float: right;
}

.btn-contar{
    position: relative;
    margin-left: 225px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

#dados > div {
    margin: 15px;
}

#error {
    text-align:center;
    color:#ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display:none;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin: 15px;
}